{{>common/header}}
<div class="main">
    <h2>Title Insert</h2>
    <form action="/insert" method="post">
    <table>
        <tr>
            <td>UserNumber:</td><td><input type="text" name="userNumber"></td>
        </tr>
        <tr>
            <td>Email:</td><td><input type="text" name="email"></td>
        </tr>
        <tr>
            <td>Password:</td><td><input type="text" name="userPw"></td>
        </tr>
        <tr>
            <td>LastName:</td><td><input type="text" name="lastName"></td>
        </tr>
        <tr>
            <td>FirstName:</td><td><input type="text" name="firstName"></td>
        </tr>
        <tr>
            <td>Introduction:</td><td><input type="text" name="introduction"></td>
        </tr>
        <tr>
            <td>ProfilePic:</td><td><input type="text" name="profilePic"></td>
        </tr>
        <tr>
            <td>StateCheck:</td><td><input type="text" name="stateCheck"></td>
        </tr>
        <tr>
            <td colspan="2"><a href="/selectAll">목록</a><input type="submit" value="submit"></td>
        </tr>
    </table>
    </form>
</div>
{{>common/footer}}