{{>common/header}}
<div class="main">
    <h2>Title Insert</h2>
        {{#dtos}}
    <table width="80%">
        <tr>
            <td>UserNumber:</td><td>{{userNumber}}</td>
        </tr>
        <tr>
            <td>Email:</td><td><a href="/selectOne/{{userNumber}}">{{email}}</a></td>
        </tr>
        <tr>
            <td>Password:</td><td>{{userPw}}</td>
        </tr>
        <tr>
            <td>LastName:</td><td>{{lastName}}</td>
        </tr>
        <tr>
            <td>FirstName:</td><td>{{firstName}}</td>
        </tr>
        <tr>
            <td>Introduction:</td><td>{{introduction}}</td>
        </tr>
        <tr>
            <td>ProfilePic:</td><td>{{profilePic}}</td>
        </tr>
        <tr>
            <td>StateCheck:</td><td>{{stateCheck}}</td>
        </tr>
        <tr>
            <td colspan="2"></td>
        </tr>
    </table>
        {{/dtos}}
    <a href="/insert">사용자 추가</a>
</div>
{{>common/footer}}